* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: black;

}

h1 {
    text-align: center;
    font-family: fantasy;
    color: rgb(212, 175, 55);
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background-color: gold;

}

.slots {
    display: flex;
    font-size: 100px;

}

.slot1 {

    background-color: black;

}

.slot2 {

    background-color: black;
}

.slot3 {

    background-color: black;

}

.button1 {
    color: black;
    background-color: gray;
    font-size: 20px;
}


.results {
    color: white;
    font-size: larger;
}